@CHARSET "UTF-8";
#nav
 {
	float: left;
	margin-left: 0px;
	top:0px;
	cursor: pointer;
	position: absolute;
	left:0px;
	background:#C6E2FF;
	top: 10px; left: 10px; width: 121px; height: 423px;
 }

#banner
{
	position:absolute;
	height:25px;
	left:180px;
	top:10px;
	width:920px;
	background-color: #EEE0E5
		
}
	
ul{ 
	left:0px; margin:0px; top:0px;height:400px;	
}
	
ul li{
		
	width:100px;left:0px;list-style: none;
}
		
ul li a
{ 
	word-spacing: 0px;
	border-left: 0 none;
	display: block;
	padding: 10px 0px 10px 0px;
	text-align: center;
	color: #2477E2;
	font-size: 18px;
	border-left: 0px solid #E2E2E2;
}

ul li a:hover{ background:#999; }


form{
	position:absolute; left:180px; top:40px;
}


#button
{
	
	width: 100px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
    cursor: pointer;
	border-radius: 5px;
	margin:0 20px 20px 0;
	position: relative;
	overflow: hidden;
}

#button:hover
{
	background-color:#87CEFF;
}
